footer{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-size: x-small;
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-height: 25vh;
}
#ques{
    margin-left: 30em;
    margin-top: 2em;
    height: 1vh;
}

section{
    display: flex;
    margin-top: 3em;
    margin-left: 30em;
}
section .one{
    display: grid;
    column-gap: 15em;
    grid-template-columns: 1fr 1fr 1fr ;
    row-gap: 1em;
   
}
section .social{
    margin-left: 8em;
}

.social svg{
    width: 20px;
    fill: aliceblue;
}

.lan svg{
    position: absolute;
    width: 15px;
    fill: antiquewhite;
    margin-bottom: 2em;
    margin-left: 31em;
    margin-top: 2.8em; 
    
}


.lan select{
    width: 85px;
    padding-left: 2.6em;
    background-color: black;
    color: aliceblue;
    height: 5vh;
    font-size: x-small;
    margin-bottom: 2em;
    margin-left: 30em;
    margin-top: 2em;    
}



@media (max-width:768px) {
    #ques {
        margin-left: 100px;
    }
    section{
        margin-left: 100px;
    }
    .lan svg{
        margin-left: 100px;
    }
    .lan select{
        margin-left: 100px;
    }
}


